.explorecards {
  height: 90%;
  width: 300px;
  margin: auto;
  position: relative; /* Ensure the container is positioned relative for absolute positioning of pseudo-element */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url("https://i.pinimg.com/originals/a2/fd/2e/a2fd2edb029a09a1a2c7a6b46e17f444.jpg");
  overflow: hidden; /* Hide overflow to prevent overlay from causing scrolling */
}

.explorecards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5)
  ); /* Adjust opacity (0.5) as needed */
  z-index: 1; /* Ensure the overlay is behind the content */
  border-radius: 20px;
}

.explorecards .content {
  position: relative; /* Ensure content appears above the overlay */
  z-index: 2; /* Ensure content is above the overlay */
  text-align: center;
  color: white; /* Adjust text color to be visible against the overlay */
  padding: 20px;
}

.explorecards button {
  z-index: 2; /* Ensure button is above the overlay */
  padding: 10px 20px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  background-color: #ffffff; /* Example of button background color */
  color: #000000; /* Example of button text color */
}

@media only screen and (max-width: 600px) {
  .explorecards {
    display: none;
  }
}
