.explorecards {
  height: 105%;
  width: 400px;
  background-image: url('../../assets/banner.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.explorecards img{
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 950px) {
  .explorecards {
    display: none;
  }
}
