.mobileview {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.temperature {
    font-size: 55px;
    font-weight: 500;
    margin: 10px;
}

.climate-details {
    font-size: 20px;
}

sup {
    vertical-align: super;
    font-size: smaller;
}
.mobile-center-content{
    margin: 5rem 0 2rem;
    background-color: #1B1B1D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem
}

.mobile-center-content button{
    padding: 7px 50px;
    border-radius: 50px;
}
.weeklydetials {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
}

.weeklydetials-left {
    display: flex;
    align-items: center;
}

.weeklydetials-left img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.weeklydetials-left p {
    margin: 0;
    font-size: 16px;
}

.weeklydetials-right {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.details-header{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: gray;
}

.mobile-cards{
    height: 10rem;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    font-size: 13px;
    flex-direction: row;
}

.mobile-cards-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.mobile-cards-top{
    height: 50%;
    width: 100%;
    background-color: #1B1B1D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;

}.mobile-cards-bottom{
    height: 50%;
    width: 100%;
    background-color: #1B1B1D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}

.mobile-cards-right{
    height: 100%;
    width: 50%;
    background: #1B1B1D;;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px;
}