/* Default styles for screens up to 650px */
@media only screen and (max-width: 650px) {
  .mobileview {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
    flex-direction: column;
    position: relative;
  }
  .temp-content{
    display: flex;
    margin: 2rem 0 2rem;
    flex-direction: column;
    align-items: center;
  }
  .temperature {
    font-size: 55px;
    font-weight: 500;
    margin: 10px;
  }

  .climate-details {
    font-size: 20px;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  .mobile-center-content {
    background-color: #1b1b1d;
    border-radius: 20px;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem 2rem 0rem;
  }

  .mobile-center-content button {
    padding: 7px 50px;
    border-radius: 50px;
  }

  .weeklydetials {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
  }

  .weeklydetials-left {
    display: flex;
    align-items: center;
  }

  .weeklydetials-left img {
    width: 30px;
    margin-right: 10px;
  }

  .weeklydetials-left p {
    margin: 0;
    font-size: 16px;
  }

  .weeklydetials-right {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .details-header {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: gray;
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding-bottom:30px;
    width: 90%;
  }

  .grid-item {
    border-radius: 10px;
    display: flex;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #1b1b1d;
    color: white;
    font-size: 20px;
    height: 150px;
  }
  .grid-item p{
    font-size: 16px;
  }
  .grid-item img{
    float: right;
    height: 4rem;
    width: 4rem; 
  }
}

/* Media Query for screens between 650px and 950px */
@media only screen and (min-width: 651px) and (max-width: 950px) {
  .mobile-center-content {
    width: 80%;
    height: 70vh;
    justify-content: space-between;
  }

  .mobile-center-content button {
    padding: 11px 6rem;
  }

  .weeklydetials-left p {
    font-size: 20px;
  }

  .weeklydetials-right {
    font-size: 24px;
  }

  .weeklydetials-left img {
    width: 4rem;
  }

  .details-header {
    font-size: 14px;
  }
}
