.citycards{
    height: calc(250px - 40px);
    background:#1B1B1D;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    border-radius: 20px;
    color: white;
    transition: 0.4s;
    animation: slideFromRight 1s;
}
.days{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}
.climate img{
    height: 7rem;
}

.temp{
    font-size: 30px;
}
@media only screen and (max-width: 950px) {
    .citycards{
        display: none;
    }
}