.today {
  height: 250px;
  width: 300px;
  background: #bbd7ec;
  border-radius: 20px;
  transition: 0.4s;
  animation: slideFromLeft 1s;
}
.today-top {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  background: #aecadf;
  border-radius: 20px 20px 0px 0px;
}
.today-bottom {
  padding: 15px;
}
.temp-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
}
.temp-details img{
  height: 4rem;
}
.temp {
  font-size: 36px;
  font-weight: 500;
}

.bottom-details {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  gap: 5px;
}
.bottom-right,
.bottom-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.temp-details p{
display: none;
}


@media (max-width: 1100px) {
  .bottom-details{
    display: none;
  }
  .temp-details{
    flex-direction: column;
  }
  .temp-details img {
    height: 6rem;
  }
  .temp-details p{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    display: flex;

  }

}

@media only screen and (max-width: 950px) {
  .today {
    display: none;
  }
}
